h1.fn.n= title
#wrapper
	.lead
		p
			span.open Open
			span.for For
			span.business business
		a.email(href='mailto:contact@mongoose7.com')
			span.type.visuallyhidden Work
			span.value.visuallyhidden contact@mongoose7.com
			| Pet the mongoose