!!! 5
html
  head
    title= title
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='robots', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://use.typekit.com/kji0mcg.js')
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-300260-12']);
      _gaq.push(['_setDomainName', '.mongoose7.com']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body.vcard!= body
  
  